@media screen and (max-width:768px) {
    body {
        width: 100%;
    }
    header {
        flex-wrap: wrap;
    }
    .container {
        margin: 0px;
    }
    .mail {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 0px 0px 20px
    }
    .logo {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 0px 0px 20px
    }
    .phone {
    width: 90%;
    margin-bottom: 30px;
    padding: 0px 0px 0px 20px
    }
    .about-text {
        margin: 0px auto;
        width: 90%;
        text-align: center;
    }
    #about .container {
        width: 100%;
    }
    #first .container {
        width: 100%;
    }
footer .container {
    width: 100%;
    flex-wrap: wrap;
  text-align: center;
}
.credits {
    padding: 0px;
}
.form {
    width: 200px;
}
.button {
    width: 200px;
    height: 21px;
    text-align: center;
}
.form .button {
    height: 59px;
}
h1 span {
    width: 100%;
    margin-top: 113px;
}
}