@media screen and (max-width:768px) {
    header {
        flex-wrap: wrap;
    }
    .container {
        width: 100%;
        margin: 0px;
    }
    .mail {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 0px 0px 20px
    }
    .logo {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 0px 0px 20px
    }
    .phone {
    width: 90%;
    margin-bottom: 30px;
    padding: 0px 0px 0px 20px
    }
    .about-text {
        margin: 0px;
        width: 90%;
        text-align: left;
    }
    #about .container {
        width: 100%;
    }
    #first .container {
        width: 100%;
    }
footer .container {
    width: 100%;
    flex-wrap: wrap;
  text-align: center;
}
.credits {
    padding: 0px;
}
}